<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="outer" class="com.monkey.myspring.innerandouter.Outer"  abstract="true">
		<property name="inner">
			<bean id="inner" >
			</bean>
		</property>

	</bean>

	<bean id="inner" class="com.monkey.myspring.innerandouter.Inner">
		<property name="name" value="ysm_son"/>
	</bean>

	<bean id="son" class="com.monkey.myspring.parentandson.Son" parent="son">
		<property name="name" value="ysm_son"/>
		<property name="age" value="8"/>
	</bean>
</beans>